-- eq.rc - Script to display the cava audio visualizer in a conky/lua window
-- v1 01 2026-02-27 @rew62
--

conky.config = {
  background = false,
  
  alignment = 'bottom_middle',
  gap_x = 0,
  gap_y = 60,
  minimum_width = 600,
  minimum_height = 80,
  
  draw_borders = false,
  border_width = 0,
  stippled_borders = 0,
  --cpu_avg_samples = 1,
  cpu_avg_samples = 2,
  default_color = 'white',
  default_outline_color = 'black',
  default_shade_color = '#BBBBBB',
  draw_graph_borders = true,
  draw_outline = false,
  draw_shades = false,
  show_graph_scale = false,
  show_graph_range = false,
  double_buffer = true,
  --no_buffers = false,
  no_buffers = true,
  out_to_console = false,
  out_to_stderr = false,
  extra_newline = false,
  uppercase = false,
  use_spacer = 'none',
  
  own_window = true,
  own_window_class = 'conky-spectrum',
  own_window_title = 'conky-spectrum',
  own_window_type = 'desktop',
  own_window_transparent = true,
  own_window_colour = '000000',
  own_window_argb_visual = true,
  own_window_argb_value = 0,
  own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
  
  use_xft = true,
  xftalpha = 1,
  font = 'Noto Sans:bold:size=10',
  
  color0 = 'white',
  color1 = '#EAEAEA',
  color2 = '#FFA300',
  color3 = 'grey',
  
  --  The shorter the interval, the more acurate and smoother the bars will flow, but more CPU usage!!
  --  Can be set from .01 to .2
  --  Also in cava-config you can play with noise_reduction for smoothness.
  update_interval = .1,
  
  lua_load = './cava-spectrum.lua',
  --lua_draw_hook_pre = 'conky_main_bars dafault',
};

conky.text = [[
${lua conky_main_bars default}
#  Options:
#
#  blocks
#  bubbles
#  default
#  default-flip
#  default-flip-reflection
#  default-reflection
#  default-slick
#  fade
#  fade_org
#  flames
#  half-bubbles
#  rings
#  rings-small
#  skewed1
#  skewed2
#  skewed-transparent
]];
